@model NicolasMVC.Models.Noticia


@{
    ViewBag.Title = "Detalle";
}

<h2>Detalle</h2>


<div class="table-responsive">
    <table class="table table-striped table-hover">
        <thead class="table-dark">
            <tr>

                <th>Titulo</th>
                <th>Copete</th>

                <th>Fecha</th>
                <th>Categoria</th>
                <th>Foto</th>


            </tr>
        </thead>

        <tbody class="table-group-divider">

            <tr>

                <td>@Model.Titulo</td>
                <td>@Model.Copete</td>

                <td>@Model.FechaAlta</td>
                <td>@Model.Categoria</td>

                <td>

                    <!--PARA MOSTRAR DESDE ARRAY DE BYTES DE LA BASE DE DATOS-->
                    @if (!string.IsNullOrEmpty(@ViewBag.FotoBase64))
                    {
                        <img src="data:image/jpeg;base64,@ViewBag.FotoBase64" alt="Imagen desde Base de Datos" width="50%" />

                    }


                    <img src="~/Uploads/noticias/@Model.Foto" alt="@Model.Titulo" width="30%" />
                </td>


            </tr>

        </tbody>
    </table>
</div>

<input id="Button1" type="button" value="Volver" onclick="javascript:history.back();" class="btn btn-success" />
