@model NicolasMVC.Models.Noticia

@{
    var Categorias = ViewData["CATEGORIAS"] as List<NicolasMVC.Models.CategoriasNoticia>;
    ViewBag.Title = "EditarNoticia";
}

<div class="container-fluid">


    <div class="panel panel-primary">

        <div class="panel-heading">
            <h3 class="panel-title">Edición de Noticias</h3>
        </div>

        <form action="~/Noticias/GuardarNoticia" enctype="multipart/form-data" method="post" autocomplete="off">
            @Html.AntiForgeryToken()
            <div class="panel-body">
                <div class="form-horizontal">



                    <div class="col-md-4"></div>

                    <div class="col-md-8">

                        <div class="form-group">
                            Título: <input id="Titulo" name="Titulo" type="text" value="@Model.Titulo" class="form-control" />
                        </div>


                        <div class="form-group">
                            Copete: <input id="Copete" name="Copete" type="text" value="@Model.Copete" class="form-control" />
                        </div>

                        <div class="form-group">
                            Texto: <input id="Texto" name="Texto" type="text" value="@Model.Texto" class="form-control" />
                        </div>




                        <div>
                            <label for="Campo3">Foto:</label>

                            <input type="file" name="fotoupload" value="fotoupload" id="fotoupload" class="form-control" autocomplete="new-password" placeholder="Suba la Foto" />

                            <img id="imagen" src=@ViewBag.Foto alt="No se encontro imagen" width="200" />


                            <!--PARA MOSTRAR DESDE ARRAY DE BYTES DE LA BASE DE DATOS-->
                            @if (!string.IsNullOrEmpty(@ViewBag.FotoBase64))
                            {
                                <img src="data:image/jpeg;base64,@ViewBag.FotoBase64" alt="Imagen desde Base de Datos" width="50%" />

                            }

                            <!--PARA GUARDAR EL NOMBRE DE LA IMAGEN1 SI NO LA REEMPLAZAN-->
                            <input id="imagen1" name="imagen1" type="hidden" value="@Model.Foto" />

                        </div>


                        <div class="form-group">
                            Categoría:

                            @Html.DropDownListFor(
      x => x.id_categoria,
      new SelectList(Categorias, "id", "Descripcion", Model.id_categoria),

      new { @class = "form-select" })
                        </div>

                        <br /><br />



                        <div class="form-group">

                            <input id="id" name="id" type="hidden" value="@Model.id" />
                            Activo?<input id="chkActivo" name="chkActivo" type="checkbox" @(Model.iActivo == 1 ? "checked" : "") />
                            @*<input name="chkActivo" value="false" type="hidden">*@

                        </div>

                        <div class="form-group">
                        </div>

                        <div class="form-group">
                        </div>
                        <div class="form-group">


                        </div>
                        <div class="form-group">

                        </div>

                        <br /><br />
                        <div class="form-group">



                        </div>




                    </div>




                    <br />
                    <br />

                    <div class="form-group">


                        <div class="btn-group" role="group">
                            <input id="Button1" class="btn btn-info" type="submit" value="Enviar" />

                        </div>

                    </div>

                </div>



            </div>

        </form>
    </div>
</div>

